* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

/************************************** NAVBAR STYLING *****************************************/
header {
    background-color:black;
	height: 75px;
	border-bottom: 4px solid #2ecc71;
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

#logo {
    width: 140px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    color: #fefefe;
    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 4px;
}

.nav-bar ul li a:hover {
    border-bottom: 2px solid #2ecc71;
    color: #2ecc71;
}

.nav-bar:hover{
    color: #2ecc71;

}

.nav-bar ul li a.active {
    color: #2ecc71;
    background: #fefefe;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background: #11101b;
        transition: height 0.5s;
    }

    .nav-bar.active {
        height: 160px; /* Adjusted height for better display */
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin: 20px; 
        font-size: 18px; 
    }
}

/* ABOUT STYLING */
.about-page {
    background-color: #dffbeb;;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    text-align:  justify;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.about-page h2{
    margin-bottom: 12px;
    background-color: rgb(177, 237, 177);
}

.about-page ul li{
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.section2 img{
    width: 100%;
    padding: 40px;
}

.section3 img{
    width: 100%;
    padding: 40px;
}

.section4 img{
    width: 100%;
    padding: 40px;
}

.defect-line{
    text-decoration: 2px solid rgb(16, 180, 16) underline;
    text-align: left;
    font-weight: 600;
    text-align: left;
    color: #333333;
    margin-bottom: -13px;
    border-radius: 8px;
}

@media (max-width: 480px) {
    .about-page {
        margin: 0;
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }

    .about-page h2{
        font-size: larger;
    }
    

    
}
























































/* Top button */
#scrollUpBtn {
    background-color: #2ecc71;
    position: fixed; 
    height: 40px;
    width: 40px;
    bottom: 20px; 
    right: 0; 
    margin-right: 20px; 
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: white; 
    cursor: pointer;
    font-size: 18px; 
}
/* Top button */


/* ********************************** FOOTER STYLING**************************************** */

footer {
    margin-top: auto;
    background-color:  #3a3838;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-family: var(--common-font-o);
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

/* ********************************** END OF FOOTER STYLING**************************************** */

