* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

/************************************** NAVBAR STYLING *****************************************/
header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:black;
	height: 75px;
	border-bottom: 4px solid #2ecc71;
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

#logo {
    width: 140px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    color: #fefefe;
    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 4px;
}

.nav-bar ul li a:hover {
    border-bottom: 2px solid #2ecc71;
    color: #2ecc71;
}

.nav-bar:hover{
    color: #2ecc71;

}

.nav-bar ul li a.active {
    color: #2ecc71;
    background: #fefefe;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background: #11101b;
        transition: height 0.5s;
    }

    .nav-bar.active {
        height: 160px; /* Adjusted height for better display */
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin: 20px; 
        font-size: 18px; 
    }
}
/* *******************************************END OF NAVBAR STYLING ************************************/

/*************************************** DOWNLOADS STYLING ***********************************************/
.video-container ,
 .pdf-container {
    width: 100%;
    margin: 20px auto;
}


.video-container p, .pdf-container p{
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    margin: 30px;
}

#downloadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.button-container {
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    border: 0.5px solid rgb(192, 245, 171);
}

button:hover {
    background-color: rgb(14, 191, 14);
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .pdf-container {
        width: 80%;
    }

    button {
        width: 50%;
        padding: 15px;
        font-size: 18px;
    }

    .video-container p, .pdf-container p{
        font-size: large;
    }
}
/* ********************************END OF DOWNLOADS STYLING ************************************************ */


/* Top button */
#scrollUpBtn {
    background-color: #2ecc71;
    position: fixed;
    height: 40px;
    width: 40px;
    bottom: 20px;
    right: 0;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 1px;
    font-size: 18px;
}
/* Top button */
/* ********************************** FOOTER STYLING**************************************** */

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    background-color: #3a3838;
    text-align: center;
    padding: 15px 0;
    font-family: var(--common-font-o);
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}


/* ********************************** END OF FOOTER STYLING**************************************** */

